TARGET_DATABASE= # form of host/database (e.g. 0.0.0.0/postgres)
PGUSER=
PGPASSWORD=
PGPORT=

# These need to be empty but declared in advance
CDM_SCHEMA=
SYNTHEA_SCHEMA=

# Link to Athena export
VOCAB_URL=